<header>
  <nav>
    <ul>
      <li routerLink="/liveacts" routerLinkActive="active">
            <span>Liveacts</span>
          </li>
          <li routerLink="/djs" routerLinkActive="active">
            <span>Djs</span>
          </li>

      <li routerLink="/releases" routerLinkActive="active">
        <span>Releases</span>
      </li>
      <li routerLink="/login" routerLinkActive="active">
        <span>Login</span>
      </li>
      <li routerLink="/gallery" routerLinkActive="active">
        <span>Gallery</span>
      </li>
    </ul>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
</footer>

